  <h1>Your Account</h1>

  <%= render partial: "shared/user_profile" %>

  <h3>Welcome <%= current_user.username %>!</h3>
    
    <% if current_user.organization %>
      <h3> <%= current_user.organization.name %> Status: <%= current_user.organization.status.capitalize %> </h3>
    <% end %>
