<div class="col-md-4 home-recipient-img media carousel slide" data-ride="carousel" id="mycarousel">
  <a href='/<%="#{organization.slug}"%>'>
    <div class="carousel-inner">
      <div class="item active">
        <img src="<%=organization.image_path%>" alt="<%=organization.name%>" class="organization-carousel" style="width:290px;height:225px"/>
        <div class="carousel-caption">
          <%= organization.name %>
        </div>
      </div>
    </div>
  </a>
</div>
