<em><%= link_to recipient.name, recipient_path(recipient), class: "home-recipient-name" %></em></p>
  <%= button_to "Sponsor me", carts_path({recipient_id: recipient.id}), class: "btn btn-recipient" %>
