<% @recipients.each do |recipient| %>
  <div class="container col-md-4 home-recipient-wrapper" data-name="<%= recipient.name %>">
    <div class="organization-title-list">
      <p align="right"><%= link_to recipient.organization.name, organization_path(slug: recipient.organization.slug) %></p>
    </div>
    <%= render partial: "shared/recipients_img", locals: { recipient: recipient } %>
    <%= render partial: "shared/recipients_details", locals: { recipient: recipient } %>
  </div>
<% end %>
