<% @organizations.each do |organization| %>
  <div id="<%= organization.slug %>">
    <%= organization.name %>
    <% organization.recipients.each do |recipient|  %>
      <ul>
        <li><%= recipient.name %> <%= link_to "Edit #{recipient.name}'s profile", edit_platform_recipient_path(recipient) %> </li>
      </ul>
    <% end %>
  <% end %>
</div>
