<h2>Funding <%= funding.id %> Summary</h2>
<table class="table col-md-3">
  <tr>
    <th>Recipient</th>
    <th>Loan Amount</th>
  </tr>
  <% funding.funding_details.each do |key, value| %>
    <tr>
      <td><%= link_to key, recipient_path(find_recipient(key)) %></td>
      <td><%= number_to_currency(value.first) %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td>Total Lent: <strong><%= number_to_currency(funding.total_price) %></strong></td>
  </tr>
</table>
