<h2>Funding <%= funding.id %> Summary</h2>
<table class="table col-md-3">
  <tr>
    <th>Recipient</th>
    <th>Loan Amount</th>
  </tr>
  <% funding.recipient_fundings.each do |funding| %>
    <tr>
      <td><%= link_to funding.recipient.name, organizations_recipient_path(organization_slug: funding.recipient.organization.slug, slug: funding.recipient.slug) %></td>
      <td><%= number_to_currency(funding.microloan_amount.to_i) %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td>Total Lent: <strong><%= number_to_currency(funding.total_price) %></strong></td>
  </tr>
</table>
