@import 'variables';

.organization-title {
  color: $organization-color;
}

.btn-organization-recipient {
  background-color: $organization-color;
  border: 1px solid $grey-color;
  color: $organization-text-color;
}

.btn-organization-recipient:hover {
  background-color: $btn-color;
  border: 1px solid $btn-color;
  color: $btn-hover;
}

.organization-recipient-name {
  color: $organization-color;
}

.organization-carousel img{
  width: 280px;
  height: 225px;
  overflow: hidden;
}

.carousel-inner {
  font-size: 30px;
}

.home-organization-wrapper {
  padding-right: 20px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  margin-top: 30px;
  max-height: 400px;
}