@import "variables";

//*** HOMEPAGE GRID ***/

.main {
  margin-top: 60px;
  padding-left: 140px;
}

.home-recipient-wrapper {
  padding-right: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  max-height: 400px;
}

.img-index {
  height: 250px;
  width: 300px;
  border-bottom: 1px solid $grey-color;
  max-width: 100%;
}

.home-recipient-img {
  height: 250px;
  width: 320px;
}

.home-recipient-name {
  color: $primary-color;
}

.btn-recipient {
  background-color: transparent;
  border: 1px solid $btn-color;
  border-radius: 3px;
  color: $btn-color;
}

.btn-recipient:hover {
  background-color: $btn-color;
  border: 1px solid $btn-color;
  color: $btn-hover;
}

.form, .flash {
  margin-top: 5%;
}

//*** SHOW PAGE ***/

.recipient-show {
  padding-left: 40px;
}

.recip-edit {
 border:10px solid #eee;
 transition: all 0.2s ease-in-out;
}

.recip-edit:hover {
 border:2px solid #eee;
 transform:rotate(360deg);
 -ms-transform:rotate(360deg);
 -webkit-transform:rotate(360deg);
 -webkit-font-smoothing:antialiased;
}

.recip-edit-title {
  font-family: "Lato", "Open Sans", Arial;
  font-weight: bolder;
  font-size: 3em;
  text-transform: uppercase;
}
