@import 'variables';

// .type-title {
//   color: $type-color;
// }

.btn-type-recipient {
  background-color: $type-color;
  border: 1px solid $grey-color;
  color: $type-text-color;
}

.btn-type-recipient:hover {
  background-color: $btn-color;
  border: 1px solid $btn-color;
  color: $btn-hover;
}

.type-recipient-name {
  color: $type-color;
}
