$font-stack: 'Hind Guntur', sans-serif;
$primary-color: #000000;
$secondary-color: #3e8acd;
$btn-color: #18a82b;
$blue-color: #006ffe;
$grey-color: #fd8409;
$btn-text-color: #fff;
$sidebar-color: #c7ba9b;
$top-nav-color: #fff;
$title-color: #43413d;
$sidebar-text-color: #3e8acd;
$organization-color: #18a82b;
$organization-text-color: #103051;
$btn-hover: #eef5f5;
$btn-add-color: #fd8409;
$btn-remove-color: #800000;
$flash-notice: #e40842;
$flash-failure: #fd8409;
$organization-title-color: #b16112;
$green-button: #A4B52C;
