$font-stack: 'Playfair Display SC', serif;
$primary-color: #08aee4;
$secondary-color: #5c15fb;
$btn-color: #18a82b;
$pink-color: #e40842;
$grey-color: #fd8409;
$btn-text-color: #fff;
$sidebar-color: #000;
$top-nav-color: #fff;
$title-color: #43413d;
$sidebar-text-color: #fff;
$organization-color: #18a82b;
$organization-text-color: #103051;
$btn-hover: #e40842;
$btn-add-color: #fd8409;
$btn-remove-color: #800000;
$flash-notice: #e40842;
$flash-failure: #fd8409;
