<h1 class="page-title">Lending Hands</h1>
<em><center><h2 class="mission-text">Lending Hands is a microlending service that believes in creating opportunities for individuals around the world.</center></em></h2>
<% if current_platform_admin? %>
  <strong><h3><%= link_to "Manage Recipients", admin_recipients_path %></h></strong>
<% end %>
<br><br>
<div align="center">
  <h2>Choose an Organization</h2>
  <i class="fa fa-angle-down" id="down-chevron"></i>
</div>

<% @organizations.each do |organization| %>
  <div class="container col-md-4 home-organization-wrapper" data-name=" <%= organization.name %> ">
    <%= render partial: "shared/organizations_img", locals: { organization: organization } %>
  </div>
<% end %>

<center>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'>
  </div>
</div>
</center>
